body {
  background-color: rgb(216, 228, 245);
}

h1 {
  font-family: calibri;
  width: auto;
  border: 5px solid white;
  padding: 25px;
  margin: 50px;
  text-align: center;
}

.col {
  text-align: center;
}

.row {
  width: auto;
  border: 5px;
  padding: 50px;
  margin: 50px;
}

.output {
  display: none;
  font-family: calibri;
}